---
- name: Test Connectivity to Cisco Switches
  hosts: switches
  gather_facts: false

  tasks:
    # Use atomic task to test SSH connection
    - name: Test SSH connection
      ansible.builtin.include_tasks: tasks/test/test_ssh_connection.yml

    # Use atomic task to display details
    - name: Display switch details
      ansible.builtin.include_tasks: tasks/test/display_switch_details.yml

